USE [master]
GO
/****** Object:  Database [EMP]    Script Date: 29-12-2020 17:56:44 ******/
CREATE DATABASE [EMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMP]
GO
/****** Object:  Table [dbo].[Saveimg]    Script Date: 29-12-2020 17:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saveimg](
	[Imgid] [int] IDENTITY(1,1) NOT NULL,
	[Imgname] [nvarchar](150) NULL,
	[Imgpath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Imgid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
